
@model IEnumerable<DotNetAppSqlDb.Models.Compact>

@{
    ViewBag.Title = "Compacts";
}

<h2>Compacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Compacts", FormMethod.Get))
    {
    <p>
        Model Name: @Html.TextBox("SearchString")
        <input type="submit" value="Find" />
    </p>
}
    </p>

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Model)*@
                @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MSRP)*@
                @Html.ActionLink("MSRP", "Index", new { sortOrder = ViewBag.MSRPSortParm })
            </th>
            <th>
                @Html.ActionLink("Horsepower (HP)", "Index", new { sortOrder = ViewBag.HorsepowerSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPG)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MSRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horsepower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MPG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
